<!-- include the header partial -->
<%- include("partials/header.ejs") %>

<h1><%= blog.title %></h1>
<h2><%= blog.id %></h2>
<p><%= blog.description %></p>
<form action="/blogs/<%= blog.id %>/edit" method="get">
    <input type = "hidden" name = "id" value = "<%= blog.id %>" />
    <button type="submit">Edit</button>
</form>
<form action="/blogs/<%= blog.id %>/delete" method="get">
    <input type = "hidden" name = "id" value = "<%= blog.id %>" />
    <button type="submit">Delete</button>
</form>

<!-- inlcude the footer partial -->
<%- include("partials/footer.ejs") %>
